$theme-color: #1E8BE8;
$background-color: #fcfcfc;
$border-style: solid 0.2rem;
$font-color: #2a2a2a;
$p-font-size: 1rem;
$standard-margin: 1rem;
$letter-spacing: 0.01em;
$word-spacing: 0.05em;
$basic-font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;